// FOOTER :: START

footer.footer
  .container
    .footer__block-wrp
      .footer-col.footer-col--1.footer-col--hide-lg
        .filter-input.filter-input--select.filter-input--js-select
          select#currency_select_footer
            option(value='RUR') Рубли (₽)
            option(selected='', value='USD') Доллары ($)
            option(value='EUR') Евро (€)
          .filter-select
            .filter-select__title Доллары ($)
            .filter-select__popup
              .filter-select__col.filter-select--max-width
                ul.filter-select__col-list
                  li(data-type='from', data-value='RUR') Рубли (₽)
                  li(data-type='from', data-value='USD') Доллары ($)
                  li(data-type='from', data-value='EUR') Евро (€)
      .footer-col.footer-col--1
        .footer__header JQ Estate
        a.footer__link.footer__link--padding-bottom.footer__link-interval(href='/zagorodnaya/spetspredlozheniya/') Спецпредложения
        a.footer__link.footer__link--padding-bottom.footer__link-interval(href='/about/') О компании
        a.footer__link.footer__link--padding-bottom.footer__link-interval(href='/agents/') Агенты
        a.footer__link.footer__link--padding-bottom.footer__link-interval(href='/contacts/') Контакты
      .footer-col.footer-col--2
        .footer__header Загородная недвижимость
        .footer__block-col-wrp
          .footer-col.margin-bottom--rm.footer-col--2
            a.footer__link.padding--bottom-menu-b.footer__link--padding-top-z.footer__link-interval(href='/zagorodnaya/arenda/') Аренда
            a.footer__link.padding--bottom-menu-b.footer__link-interval(href='/zagorodnaya/arenda/house/') Дом
            a.footer__link.padding--bottom-menu-b.footer__link-interval(href='/zagorodnaya/arenda/flat/') Квартира
            a.footer__link.padding--bottom-menu-b.footer__link-interval(href='/zagorodnaya/arenda/townhouse/') Таунхаус
            a.footer__link.padding--bottom-menu-b.footer__link-interval(href='/zagorodnaya/arenda/land/') Участок
          .footer-col.margin-bottom--rm.footer-col--2
            a.footer__link.padding--bottom-menu-b.footer__link--padding-top-z.footer__link-interval(href='/zagorodnaya/prodazha/') Продажа
            a.footer__link.padding--bottom-menu-b.footer__link-interval(href='/zagorodnaya/prodazha/house/') Дом
            a.footer__link.padding--bottom-menu-b.footer__link-interval(href='/zagorodnaya/prodazha/flat/') Квартира
            a.footer__link.padding--bottom-menu-b.footer__link-interval(href='/zagorodnaya/prodazha/townhouse/') Таунхаус
            a.footer__link.padding--bottom-menu-b.footer__link-interval(href='/zagorodnaya/prodazha/land/') Участок
      .footer-col.footer-col--1
        .footer__item(style='max-height: 300px;')
          .footer__header.margin--footer-top
            a.footer__header(style='text-decoration: none; border: none;', href='/zagorodnaya/prodazha/rublyevo_uspenskoe/') Рублёво-Успенское
          a.footer__link(href='/zagorodnaya/kottedzhnye-poselki/razdory_2/') Раздоры-2
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/izumrudnyy_vek/') Изумрудный век
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/kotton_vey/') Коттон-Вей
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/rechnoy/') Речной
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/nikolino/') Николино
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/tsarskoe_selo/') Царское село
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/balaton/') Балатон
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/zhukovka_21/') Жуковка 21
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/romanovo_2/') Романово-2
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/landshaft/') Ландшафт
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/razdory_2/') Раздоры-2
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/7_hills/') 7 Hills
        .footer__link.footer__link--open-text Показать ещё
      .footer-col.footer-col--1
        .footer__item(style='max-height: 300px;')
          .footer__header.margin--footer-top
            a.footer__header(style='text-decoration: none; border: none;', href='/zagorodnaya/prodazha/novorizhskoe/') Новорижское
          a.footer__link(href='/zagorodnaya/kottedzhnye-poselki/renessans_park/') Ренессанс парк
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/novakhovo/') Новахово
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/nikolskaya_sloboda/') Никольская слобода
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/knyazhe_ozero/') Княжье озеро
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/grinfild/') Гринфилд
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/shervud/') Шервуд
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/pavlovo/') Павлово
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/millenium_park/') Миллениум Парк
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/pavlovo_2/') Павлово-2
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/riversayd/') Риверсайд
        .footer__link.footer__link--open-text Показать ещё
      .footer-col.footer-col--1
        .footer__item(style='max-height: 300px;')
          .footer__header.margin--footer-top
            a.footer__header(style='text-decoration: none; border: none;', href='/zagorodnaya/prodazha/kievskoe/') Киевское
          a.footer__link(href='/zagorodnaya/kottedzhnye-poselki/antonovka/') Антоновка
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/krekshino/') Крекшино
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/grafskie_prudy/') Графские Пруды
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/promenad/') Променад
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/novoglagolevo/') Новоглаголево
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/pgt_selyatino/') ПГТ Селятино
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/evropeyskaya_derevnya_2/') Европейская деревня-2
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/zelenye_kholmy/') Зеленые холмы
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/zimniy_sad/') Зимний сад
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/imperial/') Империал
        .footer__link.footer__link--open-text Показать ещё
      .footer-col.footer-col--1
        .footer__item(style='max-height: 300px;')
          .footer__header.margin--footer-top
            a.footer__header(style='text-decoration: none; border: none;', href='/zagorodnaya/prodazha/minskoe/') Минское
          a.footer__link(href='/zagorodnaya/kottedzhnye-poselki/nemchinovka/') Немчиновка
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/stolnoe/') Стольное
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/zhavoronki/') Жаворонки
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/vnukovo/') Внуково
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/lesnoy_ruchey/') Лесной Ручей
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/truvil/') Трувиль
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/dovil/') Довиль
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/gribovo/') Грибово
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/peredelkino/') Переделкино
          a.footer__link.footer__link--padding-top(href='/zagorodnaya/kottedzhnye-poselki/podmoskovnye_vechera/') Подмосковные вечера
        .footer__link.footer__link--open-text Показать ещё
      .footer__block-down
        .footer-col.footer-col--2.footer-col--no-indent.footer-description
          .footer-description__text
            | JQ ESTATE © 2006-2019
            br
            | Агентство элитной недвижимости, работаем с 2006 года
          .footer-description__text.footer-description__text--gray
            | ОOО «Рублевка»
            span ОГРН 5137746069687
        .footer-col.footer-col--2.footer-col--no-indent.footer__contacts-block
          a.footer__phone(href='tel:+74959683505') +7 (495) 968-35-05
          a.button.button--green.footer__callback(href='#popup-callback') Обратный звонок
          .footer__social-wrp
            a.footer__social-block.footer__social-block--inst(href='//www.instagram.com/jq_estate/')
              svg(height='36px', width='36px')
                use(xlink:href='#instagram')
            a.footer__social-block.footer__social-block--fb(href='//www.facebook.com/jqestate/')
              svg(height='36px', width='36px')
                use(xlink:href='#facebook')

      
// FOOTER :: END
