// section mobile nav

.v-nav-overlay
  .v-nav
    .v-nav__item.v-nav__item--mobile
      a.v-nav__link(href='/zagorodnaya/arenda/') Аренда
      a.v-nav__link(href='/zagorodnaya/prodazha/') Продажа
      a.v-nav__link(href='/zagorodnaya/kottedzhnye-poselki/') Поселки
      a.v-nav__link(href='/about/') О компании
    .v-nav__button-wrp.button-center.v-nav__button-callback
      a.v-nav__button.button.button--green(href='#popup-callback') Обратный звонок
      
// section mobile nav