.footer
  &__wrapper
    width: 100%
    border-top: 1px solid #cccccc
    padding-top: 32px
    padding: 28px 0 71px
    p
      font-size: 15px

+r($tablet)
  .footer
    &__wrapper
      padding: 25px 0