div.header__button-menu
  display: none

@media (max-width: 1279px)
  div.header__button-menu
    display: flex

input
  outline: none !important

.header__logo-new
  width: 40px
  // /*height: 40px; //doesn't work in IE
  display: block
  margin-right: 15px
  img
    width: 40px
    height: auto
    &.mobile
      display: none

@media (max-width: 1279px)
  .header__logo-new
    width: 255px
    img.desktop
      display: none
    img.mobile
      display: block
      width: 255px


@media (max-width: 768px)
  .logo-m
    position: absolute
    left: calc(50% - 79.5px)
  .hamburger-m
    right: 0px
    position: absolute
  .header__logo-new
    width: 160px
    margin: 0
    img.mobile
      display: block
      width: 160px

hr
  border: none
  border-bottom: .0625rem solid #e0e0e0
  margin: 1.25rem 0

.button
  display: inline-block
  padding: 1rem 2.875rem
  margin-top: 5px
  width: auto
  color: #fff
  border-radius: 6.25rem
  text-decoration: none
  -webkit-transition: background-color .2s
  -o-transition: background-color .2s
  transition: background-color 0.2s
  &:hover
    cursor: pointer

@media (max-width: 1279px)
  .button
    padding: 1rem 2rem

.button--red
  background-color: #ff4c4e
  &:hover
    background-color: #f24345

.button--green
  background-color: #00c853
  &:hover
    background-color: #00b44b

.button--green-small
  padding: .8125rem 1.5625rem
  background-color: #00c853
  &:hover
    background-color: #00b44b

.button--white
  color: #000
  background-color: #fff
  padding: 0.6875rem 1.875rem
  &:hover
    background-color: #ccc

.button--gray
  background-color: #f1f1f1
  color: #232323
  padding: 0.8125rem 1.5625rem
  &:hover
    background-color: #d8d8d8

.button--gray-small
  background-color: #f1f1f1
  color: #232323
  padding: .5625rem 1.25rem
  text-align: center
  font-size: 1rem
  line-height: 0.875rem
  &:hover
    background-color: #d8d8d8

.button--orange
  background-color: #f5a623
  padding: 0.8125rem 1.5625rem
  &:hover
    background-color: #db8c0a

@media (max-width: 768px)
  .button--filter
    padding: 1rem 4.0625rem 1rem 5.8125rem
    &:before
      left: 4.0625rem

.button--middle
  padding: 0.6875rem 1.875rem

.button--big
  padding: 1.125rem 2.875rem

@media (max-width: 1279px)
  .button--big
    padding: 0.938rem 2rem

@media (max-width: 768px)
  .button--big
    padding: 0.938rem 2.688rem

.button--wide
  height: 2.375rem
  width: 100%
  text-align: center
  padding: 0.3125rem 3.25rem

.button--popup
  padding: 1.0625rem 3.75rem

.button-center
  text-align: center

.button-center--margin-bottom
  margin-bottom: 2.5rem

.header
  position: absolute
  top: 0
  left: 0
  height: 5.625rem
  width: 100%
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  background-color: #fff
  border-bottom: .0625rem solid #ececec
  z-index: 1100
  &.is-fixed
    position: fixed

@media (max-width: 1279px)
  .header
    height: 5rem

@media (max-width: 768px)
  .header
    height: 3.125rem
    -webkit-box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.2)
    box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.2)

.header__block-wrp
  padding: 0 1.875rem
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between

@media (max-width: 1279px)
  .header__block-wrp--close-menu
    .header__logo
      // /*width:2.4375rem
    .header__callback
      display: none

@media (max-width: 768px)
  .header__block-wrp
    padding: 0
  .header__block-wrp--close-menu
    .header__logo
      // /*width:1.75rem
    .header__callback, .header__item--hidden-to-md
      display: none

.header__logo
  display: block
  height: 2.1875rem
  width: 2.4375rem
  background: url(/local/templates/jqestate/img/logo.png) no-repeat 0
  margin-right: .9375rem
  margin-left: 0.625rem

@media (max-width: 1279px)
  .header__logo
    width: 14.1875rem
    background: url(/local/templates/jqestate/img/logo-mobile.png) no-repeat 0
    margin-right: 0

@media (max-width: 768px)
  .header__logo
    width: 8.0625rem
    height: 1.25rem
    background: url(/local/templates/jqestate/img/logo-mini.png) no-repeat 0

.header__item
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center

.header__item--hidden-to-md
  display: none

@media (max-width: 768px)
  .header__item--hidden-to-md
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center

.header__fav
  position: relative
  height: 1.125rem
  width: 1.25rem
  background: url(/local/templates/jqestate/img/fav-icon.png) no-repeat 0
  margin-left: 0.9375rem
  &:after
    content: attr(data-count)
    position: absolute
    top: -.25rem
    right: -.5625rem
    height: .875rem
    width: .875rem
    font-size: .5rem
    line-height: .9375rem
    text-align: center
    background-color: #ff4c4e
    color: #fff
    border-radius: 50%

.header__phone
  font-size: 1.125rem
  font-weight: bold
  line-height: 1.3125rem
  color: #232323
  text-decoration: none
  -webkit-transition: color .2s
  -o-transition: color .2s
  transition: color .2s
  margin-right: 0.9375rem
  &:hover
    color: #ff4c4e

@media (max-width: 768px)
  .header__phone
    display: none

@media (max-width: 1279px)
  .header__callback
    display: none

.header__button-line-wrp
  width: 1.125rem
  height: .6875rem
  position: relative
  -webkit-transition: .5s ease-in-out
  -o-transition: .5s ease-in-out
  transition: .5s ease-in-out
  cursor: pointer
  -webkit-transform: rotate(0deg)
  -ms-transform: rotate(0deg)
  transform: rotate(0deg)
  span
    -webkit-transform: rotate(0deg)
    -ms-transform: rotate(0deg)
    transform: rotate(0deg)
    display: block
    position: absolute
    height: .125rem
    width: 100%
    background-color: #232323
    opacity: 1
    left: 0
    -webkit-transition: .25s ease-in-out
    -o-transition: .25s ease-in-out
    transition: 0.25s ease-in-out
    &:first-child
      top: 0
    &:nth-child(2), &:nth-child(3)
      top: 0.375rem
    &:nth-child(4)
      top: 0.75rem

.header__button
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  height: 3.125rem
  width: 3.125rem
  cursor: pointer
  -webkit-box-ordinal-group: 4
  -ms-flex-order: 3
  order: 3
  margin-left: .9375rem
  border: .0625rem solid #f5f5f5
  border-radius: 50%

@media (max-width: 768px)
  .header__button
    border: none
    border-radius: 0
    margin-right: 0.3rem

.header__button--open span
  &:first-child
    width: 0
    left: 50%
  &:nth-child(2)
    -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    transform: rotate(45deg)
  &:nth-child(3)
    -webkit-transform: rotate(-45deg)
    -ms-transform: rotate(-45deg)
    transform: rotate(-45deg)
  &:nth-child(4)
    width: 0
    left: 50%

.nav__item
  display: inline-block

.nav__link
  text-decoration: none
  padding: 0 .9375rem
  color: #232323
  font-size: 1.125rem
  line-height: 1.3125rem
  -webkit-transition: color .2s
  -o-transition: color .2s
  transition: color 0.2s

.nav__link--active, .nav__link:hover
  color: #ff4c4e

@media (max-width: 1279px)
  .nav
    display: none

.nav-dropdown
  position: absolute
  top: 5.625rem
  left: 0
  width: 100%
  background-color: #fff
  opacity: 0
  pointer-events: none
  -webkit-transition: opacity .3s
  -o-transition: opacity .3s
  transition: opacity .3s
  border-bottom: 1px solid #ececec

.nav-dropdown__block-wrp
  padding: 1.5625rem 5rem
  display: -webkit-box
  display: -ms-flexbox
  display: flex

.nav-dropdown__img
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  position: relative
  height: 6.25rem
  width: 11.25rem
  border-radius: .25rem
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  background-size: cover
  background-repeat: no-repeat
  background-position: 50%
  margin-bottom: 0.625rem
  &:after
    content: ""
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    background-color: #000
    opacity: .2
    z-index: 4
    -webkit-transition: opacity .3s
    -o-transition: opacity .3s
    transition: opacity 0.3s

.nav-dropdown__img--curve-lines
  background-color: #00c853
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    opacity: .3
    background: url(/local/templates/jqestate/img/curve-lines-white.svg) no-repeat 50%
    -webkit-transition: opacity .3s
    -o-transition: opacity .3s
    transition: opacity 0.3s
  &:after
    display: none

.nav-dropdown__img-text
  font-size: 2.25rem
  font-weight: 500
  line-height: 2.75rem
  color: #fff

.nav-dropdown__text
  font-size: 1rem
  line-height: 1.125rem
  text-align: center
  color: #232323
  z-index: 5
  -webkit-transition: color .3s
  -o-transition: color .3s
  transition: color 0.3s

.nav-dropdown__item
  position: relative
  padding: 0 0.9375rem
  &:hover
    .nav-dropdown__text
      color: #ff4c4e
    .nav-dropdown__img:after
      opacity: 0
    .nav-dropdown__img--curve-lines:before
      opacity: 0.1

.nav-dropdown__link
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 10

@media (max-width: 1279px)
  .nav-dropdown
    display: none

.nav__item--hover .nav-dropdown
  opacity: 1
  pointer-events: visible